:root {
    --primary-color: rgb(131, 50, 131);
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
}

header a {
    justify-content: left;
    color: var(--primary-color);
}

header p {
    justify-content: right;
}

body {
    background-color: #faf3f5;
    font-family: Arial, Helvetica, sans-serif;
}
body h1 {
   text-align: center;
   font-size: 28px;
}

body h3 {
    text-align: center;
    font-size: 24px;
    
 }
 
body button {
    background-color: var(--primary-color);
    color: aliceblue;
    border-style: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

body button:hover {
    background-color: rgba(46, 6, 46, 0.8);
}

#question-feedback {
    display: none;
}

#answer-correct {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 24px;
}

#answer-incorrect {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 24px;
}

#questions {
    text-align: center;
}

#question-choice {
    text-align: center;
}

#question-choice button {
    text-align: center;
    display: block;
    margin: 20px;
}

.end-container {
    display: none;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.end-container label {
    margin: 20px;
    font-size: 24px;
}

.end-container input {
    border: 2px solid black;
    padding: 10px;
    font-size: 24px;
    color: var(--primary-color);
    margin-right: 20px;
}

input[type=submit] {
    background-color: var(--primary-color);
    color: aliceblue;
    border-style: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

input[type=submit]:hover {
    background-color: rgba(46, 6, 46, 0.8);
}

.view-scores-container {
    display: none;
    margin: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40px;
}

#view-scores-container ol {
    text-align: center;
    font-size: 24px;
    margin: 0 0 0 40px;
}

#view-scores-container li {
    text-align: center;
    font-size: 24px;
}

.homeButton {
    background-color: var(--primary-color);
    color: aliceblue;
    border-style: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 46.5%;
    top: 45%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    left: 46%
}

