header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    justify-content: left;
}

header p {
    justify-content: right;
}

body {
    background-color: #4b3d41;
}
body h1 {
   text-align: center;
}

body h3 {
    text-align: center;
 }
 
body button {
    text-align: center;
}

#questions {
    text-align: center;
}

#question-choice {
    text-align: center;
}

#question-choice button {
    text-align: center;
    display: block;
    margin: auto;
}

.end-container {
    display: none
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    left: 46%
}

